@font-face {
  font-family: 'DFDSBold';
  src: url("./fonts/DFDSBold/DFDSBold.eot") format("embedded-opentype"), url("./fonts/DFDSBold/DFDSBold.woff") format("woff"), url("./fonts/DFDSBold/DFDSBold.ttf") format("truetype"), url("./fonts/DFDSBold/DFDSBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'DFDSLight';
  src: url("./fonts/DFDSLight/DFDSLight.eot") format("embedded-opentype"), url("./fonts/DFDSLight/DFDSLight.woff") format("woff"), url("./fonts/DFDSLight/DFDSLight.ttf") format("truetype"), url("./fonts/DFDSLight/DFDSLight.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  flex-flow: row wrap;
  margin: 0 auto;
  font-family: 'Helvetica', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  body header {
    margin: 0 auto;
    width: 100%;
    background-color: #002B45; }
    body header nav {
      max-width: 65vw;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      align-items: center; }
      body header nav ul {
        display: contents;
        list-style-type: none; }
      body header nav li {
        color: white;
        text-decoration: none; }
  body #stories {
    max-width: 65vw;
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around; }
    body #stories article {
      background-color: #EEF0F1;
      padding: 2em;
      margin: 1em;
      max-width: 25.5vw;
      line-height: 1.4; }
      body #stories article h1 {
        font-family: 'DFDSBold', sans-serif; }
      body #stories article footer {
        justify-content: space-between;
        align-items: baseline;
        display: inline;
        box-sizing: border-box; }
        body #stories article footer a:first-of-type {
          font-family: 'DFDSBold', sans-serif;
          font-size: 1.3em;
          border: none;
          margin: 0;
          padding: 0.5em 1em;
          color: white;
          background-color: #F6861F;
          max-width: 6em;
          transition-duration: 400ms;
          text-decoration: none;
          cursor: pointer; }
          body #stories article footer a:first-of-type:hover {
            background-color: #a05814; }
        body #stories article footer a {
          text-align: right; }
  body #form {
    max-width: 100vw;
    margin: 0 auto; }
    body #form form {
      max-width: 35em;
      margin: 0 auto;
      display: grid;
      width: 80vw;
      font-family: 'Helvetica', sans-serif; }
      body #form form fieldset {
        display: grid;
        background-color: #EEF0F1;
        border: none;
        padding: 2em 3em;
        max-width: 30em; }
        body #form form fieldset legend {
          color: #434950;
          font-family: 'DFDSBold', sans-serif;
          font-size: 2em;
          padding-top: 2em;
          margin-top: 0.3em; }
        body #form form fieldset label {
          margin-bottom: 0.2em; }
        body #form form fieldset input {
          font-size: 12pt;
          margin-bottom: 1em;
          border: none;
          padding: 1em; }
          body #form form fieldset input:nth-of-type(3) {
            margin-bottom: 0.5em; }
        body #form form fieldset a {
          color: #85BCE9;
          text-decoration: none;
          margin: 0 0 2em 0;
          transition-duration: 400ms; }
          body #form form fieldset a:hover {
            color: #1B5786; }
          body #form form fieldset a:nth-of-type(2) {
            color: #1B5786;
            margin: 2em 0 0 0;
            font-weight: bold;
            transition-duration: 400ms; }
            body #form form fieldset a:nth-of-type(2):hover {
              color: #000000; }
        body #form form fieldset .exist {
          color: #1B5786;
          margin: 2em 0 0 0;
          font-weight: bold;
          transition-duration: 400ms; }
          body #form form fieldset .exist:hover {
            color: #000000; }
        body #form form fieldset .g-recaptcha {
          margin: 1em 0 1em 0;
          transform: scale(0.87);
          -webkit-transform: scale(0.87);
          transform-origin: 0 0;
          -webkit-transform-origin: 0 0; }
        body #form form fieldset button {
          font-family: 'DFDSBold', sans-serif;
          font-size: 1.3em;
          border: none;
          padding: 0.5em 1em;
          color: white;
          background-color: #F6861F;
          max-width: 6em;
          transition-duration: 400ms;
          cursor: pointer; }
          body #form form fieldset button:hover {
            background-color: #a05814; }

/*# sourceMappingURL=style.css.map */
