// Generated Web fonts
// Source: https://dfdsstyleguide.azurewebsites.net/brand/typography
@font-face {
  font-family: 'DFDSBold';
  src: url('./fonts/DFDSBold/DFDSBold.eot') format('embedded-opentype'),  url('./fonts/DFDSBold/DFDSBold.woff') format('woff'), url('./fonts/DFDSBold/DFDSBold.ttf')  format('truetype'), url('./fonts/DFDSBold/DFDSBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DFDSLight';
  src: url('./fonts/DFDSLight/DFDSLight.eot') format('embedded-opentype'),  url('./fonts/DFDSLight/DFDSLight.woff') format('woff'), url('./fonts/DFDSLight/DFDSLight.ttf')  format('truetype'), url('./fonts/DFDSLight/DFDSLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Color Palette DFDS
// SOURCE: https://dfdsstyleguide.azurewebsites.net/brand/colours
$dfds-color-primary: #002B45;
$dfds-color-secondary: #1B5786;
$dfds-color-tertiary1: #F6861F;
$dfds-color-tertiary2: #85BCE9;

$dfds-color-black: #000000;
$dfds-color-gray: #6D6F71;
$dfds-color-gray4: #434950;
$dfds-color-gray-4: #EEF0F1;

body {
    flex-flow: row wrap;
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    header {
        margin: 0 auto;
        width: 100%;
        background-color: $dfds-color-primary;
        nav {
            max-width: 65vw;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            ul {
                display: contents;
                list-style-type: none;
                h1 {
                    color: white;
                    text-decoration: none;
                    border: white 2pt solid;
                    padding: 0.3em;
                    transition-duration: 400ms;
                    &:hover {
                        border: $dfds-color-tertiary2 2pt solid;
                    }
                }
                a {
                    color: white;
                    text-decoration: none;
                    transition-duration: 400ms;
                    &:hover {
                        color: $dfds-color-tertiary2;
                    }
                }
            }
        }
    }
    main {
        #highlighted {
            max-width: 65vw;
            margin: 0 auto;
            article {
                background-color: $dfds-color-gray-4;
                padding: 2em;
                margin: 0 auto;
                max-width: 61vw;
                line-height: 1.4;
            }

        }
        #stories {
            max-width: 68vw;
            padding: 0;
            margin: 0 auto;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            justify-content: space-around;
            article {
                background-color: $dfds-color-gray-4;
                padding: 2em;
                margin: 1em;
                max-width: 26.5vw;
                line-height: 1.4;
                h1 {
                     font-family: 'DFDSBold', sans-serif;
                 }
                 footer {
                     justify-content: space-between;
                     align-items: baseline;
                     display: inline;
                     box-sizing: border-box;
                     a:first-of-type {
                         font-family: 'DFDSBold', sans-serif;
                         font-size: 1.3em;
                         border: none;
                         margin: 0;
                         padding: 0.5em 1em;
                         color: white;
                         background-color: $dfds-color-tertiary1;
                         max-width: 6em;
                         transition-duration: 400ms;
                         text-decoration: none;
                         cursor: pointer;
                         &:hover {
                             background-color: #a05814;
                         }
                     }
                     a {
                         text-align: right;
                     }
                 }
            }
        }
    }
    #form {
        max-width: 100vw;
        margin: 0 auto;
        form {
            max-width: 35em;
            margin: 0 auto;
            display: grid;
            width: 80vw;
            font-family: 'Helvetica', sans-serif;
            fieldset {
                display: grid;
                background-color: $dfds-color-gray-4;
                border: none;
                padding: 2em 3em;
                max-width: 30em;
                legend {
                    color: $dfds-color-gray4;
                    font-family: 'DFDSBold', sans-serif;
                    font-size: 2em;
                    padding-top: 2em;
                    margin-top: 0.3em;
                }
                label {
                    margin-bottom: 0.2em;
                }
                #tip {
                    font-style: italic;
                    font-weight: lighter;
                    font-size: 10pt;
                }
                input {
                    font-size: 12pt;
                    margin-bottom: 1em;
                    border: none;
                    padding: 1em;
                    // height: 3em;
                    // width: 100%;
                    &:nth-of-type(3) {
                        margin-bottom: 0.5em;
                    }
                }
                a {
                    color: $dfds-color-tertiary2;
                    text-decoration: none;
                    margin: 0 0 2em 0;
                    transition-duration: 400ms;
                    &:hover {
                        color: $dfds-color-secondary;
                    }
                    &:nth-of-type(2){
                        color: $dfds-color-secondary;
                        margin: 2em 0 0 0;
                        font-weight: bold;
                        transition-duration: 400ms;
                        &:hover {
                            color: $dfds-color-black;
                        }
                    }
                }
                .exist {
                    color: $dfds-color-secondary;
                    margin: 2em 0 0 0;
                    font-weight: bold;
                    transition-duration: 400ms;
                    &:hover {
                        color: $dfds-color-black;
                    }
                }
                .g-recaptcha {
                    margin: 1em 0 1em 0;
                    transform:scale(0.87);
                    -webkit-transform:scale(0.87);
                    transform-origin:0 0;
                    -webkit-transform-origin:0 0;
                }
                button {
                    font-family: 'DFDSBold', sans-serif;
                    font-size: 1.3em;
                    border: none;
                    padding: 0.5em 1em;
                    color: white;
                    background-color: $dfds-color-tertiary1;
                    max-width: 6em;
                    transition-duration: 400ms;
                    cursor: pointer;
                    &:hover {
                        background-color: #a05814;
                    }
                }
            }
        }
    }
}
